### Common IDEs template
# IntelliJ IDEA
.idea/
*.iml
*.iws

# NetBeans
nbproject/
*.nbattrs

# VS Code
.vscode/

# Eclipse
.metadata/
*.log
.settings/
*.project
*.classpath

# Xcode
*.xcworkspace
*.xcuserstate

# Sublime Text
*.sublime-project
*.sublime-workspace

# General IDEs
*.swp
*~.nib
*.pidb
*.seed

# Miscellaneous
*.DS_Store
Thumbs.db
